---
layout: default
title: Document
---

{{site.title}}

{{>nav active="home"}}

<div class="m_plug">
  <span class="plug__trigger">Click</span>
  <span class="plug__destroy">Destroy</span>
</div>

<div class="m_plug">
  <span class="plug__trigger">Click</span>
  <span class="plug__destroy">Destroy</span>
</div>